.users-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 1em;

    background-color: var(--background-secondary);
}

.user {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/*

.channel-inner {
    margin-right: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.channel-inner > i {
    color: var(--text-muted);
    flex-basis: 1.6em;
}

.channel-inner > p {
    color: var(--channels-default);
}

.channel-inner > p:before {
    font-size: 1.25em;
}

.channel-inner:hover {
    background-color: var(--background-modifier-hover);
}

.channel-inner:hover > p {
    color: var(--interactive-hover);
}

.channel.selected > .channel-inner {
    background-color: var(--background-modifier-selected);
    cursor: auto;
}

.channel.selected > .channel-inner > p {
    color: var(--interactive-active);
}



.text-channel p {
    text-transform: lowercase;
}
.voice-channel p {
    text-transform: capitalize;
}


.channel-ping {
    width: 0.3em;
    margin-right: 0.2em;
}

.channel.active > .channel-ping {
    height: 0.6em;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    background-color: var(--interactive-active);
}

.channel.active p {
    color: var(--interactive-active);
}

.channel.collapsed:not(.active):not(.selected) {
    display: none;
}



.channel-group-header {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    font-size: 0.7em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-group-header > i {
    font-size: 0.75em;
    margin-right: 1em;
    color: var(--channels-default);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.channel-group-header > p {
    text-transform: uppercase;
    color: var(--channels-default);
}

.channel-group-header:hover > * {
    color: var(--interactive-hover);
}

.channel-group-header.collapsed > i {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
} */