.users-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--background-secondary);
}

.role-header {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.role-header > p {
    text-transform: uppercase;
    color: var(--channels-default);
}

.user {
    margin-top: 0.1em;
    padding: 0.5em 0.2em;
    margin-bottom: 0.1em;
    height: 3em;
}

.user.selected > .user-inner {
    background-color: var(--background-modifier-selected);
    cursor: auto;
}

.user.selected > .user-inner > p {
    color: var(--interactive-active);
}

.user-inner {
    padding: 0.25em;
    border-radius: 0.25em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.user-inner:hover {
    background-color: var(--background-modifier-hover);
}

.user-inner > .avatar {
    height: 100%;
}

.user-inner > .avatar > .pfp {
    height: 100%;
    border-radius: 50%;
    margin-right: 0.5em;
}

.user-inner > .avatar > svg {
    position: absolute;
    /* 3em for pfp size, 12px for circle size */
    top: calc(100% - 12px - 0.45em);
    left: calc(3em - 12px + 0.45em);
}

.user-inner > p {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Should I use JS? probably. but later */

.user[status="Online"] > .user-inner > .avatar > svg > circle {
    fill: var(--user-status-online);
}

.user[status="DND"] > .user-inner > .avatar > svg > circle {
    fill: var(--user-status-dnd);
}

.user[status="Offline"] > .user-inner > .avatar > svg > circle {
    fill: var(--user-status-offline);
}

.user[status="Idle"] > .user-inner > .avatar > svg > circle {
    fill: var(--user-status-idle);
}


/*
.channel-inner {
    margin-right: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
.channel-inner > i {
    color: var(--text-muted);
    flex-basis: 1.6em;
}
.channel-inner > p {
    color: var(--channels-default);
}
.channel-inner > p:before {
    font-size: 1.25em;
}
.channel-inner:hover {
    background-color: var(--background-modifier-hover);
}
.channel-inner:hover > p {
    color: var(--interactive-hover);
}
.text-channel p {
    text-transform: lowercase;
}
.voice-channel p {
    text-transform: capitalize;
}
.channel-ping {
    width: 0.3em;
    margin-right: 0.2em;
}
.channel.active > .channel-ping {
    height: 0.6em;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    background-color: var(--interactive-active);
}
.channel.active p {
    color: var(--interactive-active);
}
.channel.collapsed:not(.active):not(.selected) {
    display: none;
}
.channel-group-header:hover > * {
    color: var(--interactive-hover);
}
.channel-group-header.collapsed > i {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
} */